<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>

 <connectionStrings>
	  <add name="DBPROYECTO" connectionString="Data Source = MARTINEZN-LT; Initial Catalog = PROYECTODISISTEMAS; User ID = sa ; Password = Tegra2021" providerName="System.Data.SqlClient" />
    </connectionStrings>    
</configuration>